@import url(https://fonts.googleapis.com/css?family=Roboto);

:root{
  --primary-color: #314957;
  --secondary-color:#f0fdfa;
}

html * {
  font-family: 'Roboto', sans-serif !important;
}

body{
  margin:0;
  padding:0;
  height:100vh;
  width:100vw;
  background-image: url("bgg.png");
  background-size: cover;
  box-shadow: #000000;
  /* background-size: cover; */
  display: flex;
  justify-content:center;
  align-items:center;
}
.image{
    width: 100px;
    height: 450px;

}
.vl{
    border-left: 1px solid rgb(228, 232, 228);
    height: 400px;
}
.form-container{
  height:500px;
  z-index: 40;
  border-radius: 20px;
  text-align:center;
  display:flex;
  width:auto;
  align-items:center;
  justify-content:flex-end;
  width: 800px;
  background-color: #000000;
  /* background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)); */
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  opacity: 0.8;
  border: 3px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}



.form-container > form{
  display:flex;
  flex: 1 1 0px;
  width:100%;
  flex-direction:column;
  gap:35px;
  align-items:center;
  justify-content:center;
}
.submit-btn{
  width:70%;
  height: 35px;
  margin-top: 10px;
  font-size:medium;
  border-radius: 20px;
  border: none;
  background: #00E0FF;
  /* font-weight: bold; */
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px #00E0FF;
  transition:all 0.3s;

}
.submit-btn:hover{
  background-color:#00E0FF;
  /* color:var(--primary-color); */
  font-weight:bold;
  outline:none;
  transform: scale(1.08) perspective(1px);

}

.header{
    color: #00E0FF;
    font-size: 30px;
    margin-top: -20px;
}
.elem{
    height: 30px;
}
.fr{
    margin-top: -20px;
}

img{
  height:100%;
  width:auto;
  flex: 1 1 0px;
}
.fname-container, .lname-container, .email-container{
    padding-bottom: 2em;
	width: 70%;
	height: 1.5em;
}

label{
    font-weight: bold;
	display: flex;
	align-items: center;
    padding-bottom: 10px;
    font-size: 20px;
    color: aliceblue;
}
input{
  background:transparent;
  border:none;
  height: 50px;
  outline: white solid;
  font-size:medium;
  color:var(--secondary-color);
  padding-left:3%;
  border-radius:4px;
  transition: all 0.3s;
  width:100%;
}
input:focus{
  outline:green solid;
  transform: scale(1.03) perspective(1px);
}

.google{
    border-radius: 20px;
    background-color: transparent;
    border-color: rgb(0, 0, 0);
    height: 35px;
    width: 70%;
}